.Header{
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: blueviolet;
  color: white;
  padding: 10px 6%;
}

.Header .links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: white;
}

.Header .links a{
text-decoration: none;
color: white;
}
.Header button {
  padding: 7px 35px;
  text-align: center;
  background: black;
  color: white;
  border: 1px solid red;
  outline: none;
  font-size: 14px;
}

.cards{
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
flex-wrap: wrap;
padding: 20px 10px;
overflow: hidden;

}

.cards .card{
  height: 400px;
  width: 350px;
  padding: 10px 4px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  border: 2px solid rgba(0, 0, 0, 0.45);
box-shadow: 0px 0px 3px black;
}

.cards .card:hover{
  transform: translateY(-10px);
  cursor: pointer;
}
.cards .card image{
  height: 200px;
  width: 250px;
  object-fit: contain;
  border: 1px solid black;

}
.card button{
  padding: 8px 40px;
  background: blue;
  color: white;
  border: 2px solid black;
  border-radius: 3px;
}

.card button a{
  text-decoration: none;
  color: white;
}
.card button:hover{

  background: black;
  color: white;
}


.working{
  background: green;
  border: 1px solid black;
  color: white;
  padding: 2px 3px ;
}



.closed{
  background: red;
  color: wheat;
  padding: 5px;
}

.cards label{
width: 100%;
}
.cards input{
  width: 100%;
  padding: 10px;
}
